#jinja2: trim_blocks:False
{% if ansible_distribution == 'Debian' %}
deb http://deb.debian.org/debian {{ ansible_distribution_release }} main contrib {% if ansible_distribution_major_version >= '12' %}non-free-firmware{% else %}non-free{% endif %}
deb http://deb.debian.org/debian {{ ansible_distribution_release }}-updates main contrib {% if ansible_distribution_major_version >= '12' %}non-free-firmware{% else %}non-free{% endif %}
deb http://deb.debian.org/debian-security/ {{ ansible_distribution_release }}-security main contrib {% if ansible_distribution_major_version >= '12' %}non-free-firmware{% else %}non-free{% endif %}
deb http://deb.debian.org/debian {{ ansible_distribution_release }}-backports main contrib {% if ansible_distribution_major_version >= '12' %}non-free-firmware{% else %}non-free{% endif %}
{% elif ansible_distribution == 'Ubuntu' %}
deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} main restricted
deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-updates main restricted
deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} universe
deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-updates universe
deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} multiverse
deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-updates multiverse
deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }}-backports main restricted universe multiverse
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security main restricted
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security universe
deb http://security.ubuntu.com/ubuntu {{ ansible_distribution_release }}-security multiverse
{% endif -%}
