include: "/etc/unbound/unbound.conf.d/*.conf"

hide-identity: yes
hide-version: yes
use-caps-for-id: yes
prefetch: yes
extended-statistics: yes

{% if ansible_distribution_major_version | int >= 10 %}
tls-cert-bundle: /etc/ssl/certs/ca-certificates.crt

forward-zone:
  name: "."
  forward-tls-upstream: yes
  forward-addr: 2606:4700:4700::1111@853#cloudflare-dns.com
  forward-addr: 1.0.0.1@853#cloudflare-dns.com
  forward-addr: 8.8.8.8@853#dns.google
{% endif %}

remote-control:
  control-enable: yes
